{% extends "notes/base.html" %}
{% load static%}
{% block content %}
<div class="appbar">
  <img src="../../static/notes/img/logo-getit.png" class="logo" />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>
<main class="container">

  <form  action="/tags">
    <button>
        Tags
    </button>
  </form>



 <form class="form-card" method="post">
    {% csrf_token %}
    <input
    class="form-card-title"
    type="text"
    name="titulo"
    placeholder="Título"
  />
  <input type = "hidden" value=0 name = "id"></input>
  <input type = "hidden" value=1 name = "modo"></input>
  
  <textarea
    class="autoresize"
    name="detalhes"
    placeholder="Digite o conteúdo..."
  ></textarea>
  <input type = "text" value="" name = "tag" placeholder="tag"></input>
  <button class="btn" type="submit">Criar</button>
  <p class="expli">Para editar clique no botão "Lapis", para deletar clique no botão "X" para confirmar</p>
</form>

<main class="container">
<div class="card-container">
  <ul class="linha2">
    {% for note in notes %}
    <div class="card">
      <h3 class="edit2">{{note.title}}</h3>
    <div class="linha"> 
    <form  method= "post" class="" action="/delete">
      {% csrf_token %}
      
      <input type = "hidden" value={{note.id}} name = "id"></input>
      <input type = "hidden" value={{note.tag}} name = "tag"></input>

      <div class="linha">



        <input class="check" type= "hidden" escreve id = "delete" name = "modo" value="D"></input>

      <button class="button" type = "submit">
        <img class="pencil" src="../../static/notes/img/x.png"/> 
      </button>
    </form>
    <form  method= "post" class="" action="/update">
      {% csrf_token %}
      <input type = "hidden" value={{note.id}} name = "id"></input>
      <input type = "hidden" value={{note.tag}} name = "tag"></input>
      <input class="check" type= "hidden" escreve id = "delete" name = "modo" value="U"></input>

      <button class="button">
        <img class="pencil" src="../../static/notes/img/pencil.png"/> 
      </button>
    </form>
  </div>
</div>   
      <div class="card-content">
        <p class="edit">
         {{note.content}}
        </p>
      </br>
      <p class="edit">
        tag : {{note.tag}}
       </p>
       </div>
      
    </div>
     {% endfor %}
  </ul>
</div>
</main>
{% endblock %}